//custom colors
$color-gray-light1: #bebebe;
$color-gray-light2: #757575;

$max-width-val: 30%;
$max-height-val: 100px;

$color-primary: #27aae1;
$color-secondary: #004d40;

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  color: $color-gray-light2;
  font-weight: normal;
  overflow: hidden;
}

.max-width {
  max-width: $max-width-val;
}

.max-height {
  max-height: $max-height-val;
}

.button-text-color {
  color: $color-gray-light1 !important;
}

.description {
  font-size: .8em;
  color: $color-gray-light1;
}


.full-width {
  width: 100%;
}